<div
  class="pointer-events-none absolute top-[-10%] left-1/2 hidden h-[500px] w-[500px] -translate-x-1/2 rounded-full bg-white/10 blur-[80px] lg:block"
>
</div>
<div
  class="pointer-events-none absolute right-[10%] bottom-[10%] block h-[300px] w-[300px] rounded-full bg-white/5 blur-[60px]"
>
</div>
<div
  class="pointer-events-none absolute bottom-[-10%] left-[5%] hidden h-[400px] w-[400px] rounded-full bg-white/5 blur-[70px] lg:block"
>
</div>
<div
  class="pointer-events-none absolute top-[10%] left-[20%] hidden h-[400px] w-[400px] rounded-full bg-white/5 blur-[70px] lg:block"
>
</div>
