@import "tailwindcss";
@import "./projects-style.css";

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/space-grotesk-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton SC';
  src: url('/fonts/antonsc-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-anton-sc: 'Anton SC', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --color-primary: #141414;
  --color-primary-foreground: #0A0A0A;
  --color-secondary: #BD2F43;
  --color-accent: #f1eada;
  --color-accent-foreground: #272727;
  --color-muted: #a9a9a9;
}
